{% extends "profile/base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">

  <div class="row justify-content-md-center">
    <div class="col-xl-6 col-lg-7">
      <div class="card shadow mb-3">
          <div class="card-header py-3">
              <h1 class="h3 mb-0 text-primary text-align-center">Terimakasih</h1>
          </div>
          <div class="card-body">
            <h5> Terimakasih atas Feedbacknya </h5>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
