{% extends "app/layout.html" %}
{% block content %}
<!-- Content 1 -->
  <section class="pt-80 pb-80 bg-light content_1">
    <div class="container px-xl-0">
      <div class="row justify-content-center">
				<div class="col-xl-8 col-lg-10">
					<h2 data-aos="fade-down" data-aos-delay="0" class="aos-init aos-animate">
						Tentang Aplikasi KUISIP
					</h2>
				</div>
				<div class="col-xl-7 col-lg-9 col-md-10">
					<div class="mt-35 f-18 medium color-heading op-7 text-adaptive aos-init aos-animate" data-aos="fade-down" data-aos-delay="250">
						Aplikasi kuisip dibuat karna kebutuhan akan pelatihan berfikir dan nalar untuk siswa sekolah dasar masih sangat minim. Aplikasi ini dibuat untuk mengasah kemampuan dan nalar pelajar terutama siswa kelas 3 SD. Diharapkan dengan adanya aplikasi ini siswa dapat lebih terampil dan berfikir cepat dalam mengerjakan soal matematika dan mulai menyukai pelajaran matematika ini.
					</div>
				</div>
      </div>
    </div>
  </section>
{% endblock %}
